<%-include('./partials/_header')-%>

        <main class="container">
            <%-include('./partials/_sidebar')-%>
            <section class="content">
                <header class=header>
                    <a href="/"><img src="/icons/time-management.svg" alt="App icons"></a>
                    <span>Control De Incidencias - <%=title%></span>
                </header>

                <article class="info-content">
                    <h2>Bienvenido</h2>
                    <span>Seleccione una opción para empezar</span>
                </article>

            </section>
        </main>
        <%-include('./partials/_bgEffect')-%>

<%-include('./partials/_footer')-%>
